<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <%= link_to 'Members only', root_path,class:'nav-link text-white navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Posts', "#",class:'nav-link  text-white' %>
      </li>
      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to 'New Post', "#",class:'nav-link  text-white' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Settings', "#",class:'nav-link  text-white' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to 'Sign up', new_user_path,class:'nav-link text-white' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Log in', "#",class:'nav-link text-white' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
